.App {
  text-align: center;
}

.App > div {
  width: fit-content;
  margin: auto;
  text-align: left;
}
/* makes it easier to highlight rows */
/* compared to padding the parent */
.App > div > * {
  padding: 15px 20px;
}
.App > div > form {
  padding-bottom: 0px;
}
.App > div > table {
  padding-top: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
